@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
html,
body,
#root {
    height: 100%;
    margin: 0;
}

button {
    cursor: pointer;
}

button,
input {
    background: none;
    border: none;
    outline: none;
}

input:focus {
    outline: none;
    border: none;
}

.mapboxgl-popup {
    max-width: 200px;
    max-height: 10px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    margin: 0;
    font-size: 14px;
    color: #8560A9;
}

.page {
    height: 100vh;
    width: 100vw;
}

.sign-in-page {
    overflow-y: hidden;
}

.sign-in-top {
    height: 50%;
    background-image: url('./assets/sign-in-background.png');
    background-size: cover;
}

.sign-in-top .logo-container {
    height: 100%;
    background-color: #FFD424;
    opacity: 0.95;
    text-align: center;
    display: flex;
    justify-content: center;
}

.sign-in-top .logo-container img {
    width: 30%;
    align-self: center;
}

.sign-in-middle {
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sign-in-middle .input-container {
    width: 65%;
    border: 2px solid #D3C1E5;
    border-radius: 50px;
    margin-bottom: 30px;
    height: 42px;
    display: flex;
    align-items: center;
}

.input-container img {
    width: 15px;
    height: 18px;
    padding-left: 15px;
    vertical-align: middle;
    object-fit: contain;
}

.sign-in-middle input {
    font-size: 14px;
    border: none;
    outline: none;
    padding: 20px 10px;
    width: 80%;
    color: #61487A;
    background: transparent;
}

.sign-in-middle input::-webkit-input-placeholder {
    color: #D3C1E5;
    font-size: 14px;
}

.sign-in-middle input::-moz-placeholder {
    color: #D3C1E5;
    font-size: 14px;
}

.sign-in-button {
    height: 10%;
    width: 100%;
    font-size: 20px;
    background-color: #413400;
    color: #FFD424;
    transition: 0.2s;
}

.sign-in-button:active {
    background-color: #231C01;
}

.events-page {
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.events-page .sidebar {
    background: #453257;
    height: 100%;
    width: 75%;
    margin-left: -75%;
    position: fixed;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.events-page .main {
    height: 100%;
    transition: 0.3s;
    overflow-y: hidden;
}

.events-page .top-menu {
    height: 50px;
    background: #FFD424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.events-page .top-menu img {
    object-fit: contain;
    padding: 0 16px;
    width: 30px;
}

.events-page .search-popup {
    left: 0px;
    top: 50px;
    padding: 10px 16px;
    height: 60px;
    background: #F2F2F2;
    display: flex;
    right: 0px;
    flex-direction: column;
    position: fixed;
    justify-content: center;
}

.events-page .search-popup .result {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}

.events-page .search-popup .tag {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 0 2px;
    background: #bdbdbd;
    color: white;
    font-size: 11px;
}

.events-page .search-popup button {
    background: #D5EF7F;
    color: #67616D;
    border-radius: 5px;
    font-size: 11px;
    padding: 4px 10px;
    box-shadow: 1px 1px 2px #e0e0e0;
}

.events-page .search-popup .description {
    color: #9f9f9f;
    font-size: 12px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.events-page .events-container {
    padding: 16px;
    bottom: 0px;
    position: fixed;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.event-card {
    margin-bottom: 20px;
}

.event-card .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-card .user {
    color: #67616D;
}

.event-card .user {
    display: flex;
    align-items: center;
}

.event-card .user img {
    border-radius: 50%;
    object-fit: contain;
    width: 32px;
    margin-right: 10px;
}

.event-card .tag {
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 12px;
    border: 1px solid #AC8EC9;
}

.event-card .middle {
    display: flex;
    align-items: center;
}

.event-card .middle .info {
    width: 60%;
}

.event-card .middle img {
    object-fit: contain;
    max-height: 60px;
    border-radius: 6px;
    margin-bottom: -20px;
}

.event-card .title {
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
    color: #453257;
}

.event-card .time {
    color: #8560A9;
    display: flex;
    margin-top: 10px;
    font-size: 12px;
}

.event-card .time img {
    object-fit: contain;
    margin-right: 8px;
    width: 15px;
    height: 15px;
}

.event-card p {
    color: rgb(8, 8, 8);
    margin-top: 20px;
    font-size: 14px;
}

.event-card .bottom {
    display: flex;
    align-items: center;
}

.event-card .bottom .option img {
    width: 12px;
    object-fit: contain;
    margin-right: 8px;
}

.event-card .bottom .option {
    margin-right: 16px;
    align-items: center;
}

.event-card .divider {
    height: 2px;
    margin-top: 20px;
    background: #E8E8E8;
}

.searchbar {
    padding: 20px;
}

.searchbar .section {
    margin-bottom: 36px;
    text-align: center;
}

.searchbar .section .title u {
    font-size: 18px;
    color: #AC8EC9;
    text-decoration: none;
    border-bottom: 1px solid #8560A9;
}

.searchbar .section .content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.searchbar .section .content button {
    color: white;
    font-size: 14px;
    padding: 4px 10px;
    margin: 5px;
    border-radius: 15px;
    transition: 0.2s;
}

.searchbar .section div.arrowed {
    position: relative;
}

.searchbar .section div.arrowed:after {
    content: ' ';
    position: absolute;
    top: 34px;
    left: 25px;
    border-style: solid;
    border-width: 0px 8px 12px;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 0;
}

.searchbar .section .content .button-with-border {
    padding: 6px 15px;
}

.searchbar .search-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #D5EF7F;
    font-size: 20px;
    color: #453257;
    font-weight: 600;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.searchbar .search-button img {
    object-fit: contain;
    width: 20px;
    margin-right: 10px;
}

.searchbar .time-input-container .main {
    display: flex;
    background: white;
    margin-top: 10px;
    height: 36px;
    align-items: center;
}

.searchbar .time-input-container .message {
    font-size: 12px;
    padding-top: 5px;
}

.searchbar .time-input-container input {
    max-width: 35%;
    color: #8560A9;
    text-align: center;
    font-size: 12px;
}

.searchbar .time-input-container input::selection {
    background: #E5F7A9;
}

.searchbar .time-input-container input::-moz-selection {
    background: #E5F7A9;
}

.searchbar .time-input-container img {
    width: 14px;
    object-fit: contain;
    padding-left: 10px;
}

.event-detail {
    position: fixed;
    padding: 16px;
    left: 0px;
    overflow-y: auto;
    right: 0px;
    bottom: 0px;
    -webkit-overflow-scrolling: touch;
}

.event-detail .tag {
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    display: inline-block;
    color: #8C8C8C;
    padding: 2px 10px;
}

.event-detail .title {
    font-size: 20px;
    color: #453257;
    margin-top: 10px;
}

.event-detail .user-info {
    display: flex;
    margin-top: 10px;
}

.event-detail .user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.event-detail .user-info .right {
    margin-left: 10px;
}

.event-detail .user-info .publish-time {
    color: #BABABA;
    font-size: 12px;
    margin-top: 2px;
}

.event-detail .divider {
    height: 2px;
    background: #E8E8E8;
    margin: 16px -16px;
}

.event-detail .tabs-container {
    display: flex;
    justify-content: space-around;
    color: #8C8C8C;
}

.event-detail .tabs-container .tab {
    display: flex;
}

.event-detail .tabs-container img {
    height: 16px;
    width: 18px;
    object-fit: contain;
    margin-right: 5px;
}

.event-detail .event-pics {
    display: flex;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.event-detail .event-pics::-webkit-scrollbar {
    display: none;
}

.event-detail .event-pics::-webkit-scrollbar-thumb {
    background: transparent;
}

.event-detail .event-pics img {
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;
    width: 150px;
    height: 80px;
    flex: 0 0 auto;
}

.event-detail p {
    color: #67616D;
    margin-bottom: 2px;
}

.event-detail .read-more-button {
    background: #D5EF7F;
    color: #8560A9;
    border-radius: 5px;
    font-size: 11px;
    padding: 4px 10px;
    box-shadow: 1px 1px 2px #e0e0e0;
    float: right;
}

.event-detail .section {
    margin-top: 30px;
}

.event-detail .section .name {
    font-size: 18px;
    align-items: center;
    position: relative;
    display: flex;
}

.event-detail .section .name::before {
    width: 5px;
    height: 15px;
    background: #8560A9;
    display: block;
    content: ' ';
    border-radius: 5px;
    margin-right: 5px;
}

.event-detail .time-container {
    display: flex;
    justify-content: space-evenly;
}

.event-detail .time-container img {
    object-fit: contain;
    width: 16px;
    margin-right: 8px;
}

.event-detail .time-container .time-block {
    margin-top: 15px;
    font-size: 16px;
    color: #666666;
}

.event-detail .time-container .time-block .bottom {
    margin-top: 10px;
    padding-left: 24px;
    font-size: 24px;
}

.event-detail .time-container .time-block .bottom span {
    font-size: 14px;
    padding-left: 5px;
    color: #8C8C8C;
}

.event-detail .vertical-divider {
    width: 2px;
    background: #E8E8E8;
    margin-top: 15px;
}

.event-detail .map-container {
    background: gray;
    height: 120px;
    margin: 12px 0 16px 0;
    border-radius: 5px;
}